<!DOCTYPE html>
<html>
    <head>
        <title>BudgetFlow</title>
        <link rel="stylesheet" href="static/css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    </head>

    <body>
        <div class="navbar">
            <h1>BudgetFlow</h1>
            <nav>
                <a href="/login">Login</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/budget">Budget</a>
                <a href="/add-expense">Add Expense</a>
                <a href="/penny">Talk to Penny</a>
                <a href="/settings">Settings</a>
            </nav>
        </div>

          
   

        <div class="card">
            <h2>ABOUT BUDGETFLOW</h2>
            <h5>Welcome to BudgetFlow — where your money meets mindfulness. Track smarter, save better, live freer.</h5>
            <div class="graph-container">
                <canvas id="savingsLineChart"></canvas>
            </div>
        </div>
            <p class="italic-heading">BudgetFlow is a user-friendly personal finance app that helps you track expenses, set budgets, and visualize your savings with clear, interactive charts. By categorizing your spending—like transport, food, and entertainment—it gives you a simple way to see where your money goes each month.
                Interact with Penny, your AI-powered financial assistant, who offers personalized advice to keep you on track and help you save smarter. Whether you’re new to budgeting or looking to optimize your finances, BudgetFlow makes managing your money easier, more insightful, and a little more fun.</p>
        </div>

        <br>
        <a href="/signup" class="btn">Get started</a>

        <div class="penny-advice">
            Consider setting a weekly food budget to save more consistently.
        </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>