<!DOCTYPE html>
<html>
    <head>
        <title>BudgetFlow</title>
        <link rel="stylesheet" href="static/css/style.css">

    </head>

    <body>
        <div class="navbar">
            <h1>BudgetFlow</h1>
            <nav>
                <a href="#">Dashboard</a>
                <a href="#">Add Expense</a>
            </nav>
        </div>

        <div class="card">
            <h2>Monthly Overview</h2>
            <p>Your savings this month are 22% above average. Great job!</p>
        </div>

        <button class="btn">Add Expense</button>

        <div class="penny-advice">
            Consider setting a weekly food budget to save more consistently.
        </div>
    </body>
</html>