<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <body>
          <div class="navbar">
            <h1>BudgetFlow</h1>
            <nav>
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/budget">Budget</a>
                <a href="/add-expense">Add Expense</a>
                <a href="/penny">Talk to Penny</a>
                <a href="/settings">Settings</a>
            </nav>
        </div>
        <div class="login-container">
           <form class="login-form" method="POST" action="/login">
                <h2>Login to BudgetFlow</h2>
                  {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}

                <label for="username">Email</label>
                    <input type="email" id="username" name="username" required>

                <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                

                <button type="submit" class="btn">Login</button>

                <p class="login-footer">Don't have an account? <a href="/signup">Signup here</a></p>
        </form>

        </div>
       <footer>
        <p>&copy; 2025 BudgetFlow</p>
    </footer>
    </body>
</html>
